---

---
<div class="nav-links">
    <a href="/">Inicio</a>
    <a href="/about/">Sobre mi</a>
    <a href="/blog/">Blog</a>
    <a href="/tags/">Etiquetas</a>
</div>
<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    background-color: aquamarine;
  }

/* estilos de la barra de navegación*/

.nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: #ff9776;
    display: none;
    margin: 0;
}

.nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
    background-color: #ff9776;
}

.expanded {
    display: unset;
}

@media screen and (min-width: 636px) {
    .nav-links {
        margin-left: 5em;
        display: block;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a {
        display: inline-block;
        padding: 15px 20px;
    }
 
}

</style>